@import "icons";

$font-color: #0000007d;

html {
  background-color: white;
  box-sizing: border-box;
  font-size: 62.5%;
}

.todo {
  &__list {
    max-width: 40rem;
    margin: 2rem auto;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: #ffffffc2;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: none;

  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem;
    color: $font-color;
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid $font-color;
    cursor: pointer;

    .icon-checkmark2 {
      font-size: 3rem;
      color: #1f7d1f;
      margin-right: 2rem;
    }
  }

}

.todo__form {
  margin: 2rem auto;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffc2;
  margin-top: -20px;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border-top: none;

  & button {
    margin-top: 2rem;
    padding: 1rem 1rem;
    background-color: #00800026;
    border: none;
    color: $font-color;
    box-shadow: 0 0 5px 3px $font-color;
    border-radius: .5rem;

    &:focus {
      outline: none;
    }

    &:last-child {
      margin-bottom: 4rem;
      color: $font-color;
      background-color: #ff000026;
    }
  }


  & form {
    margin-top: 2rem;

    & label {
      color: $font-color;
      font-size: 1.6rem;
      font-weight: bold;

    }

    #error {
      display: block;
      color: red;
      margin-top: 1rem;
    }

    & input {
      padding: .4rem 1rem;
      color: $font-color;
      border: none;
      background-color: #ffffffc2;
      border-bottom: 1px solid $font-color;

      &:focus {
        border-color: green;
        outline-offset: 0;
        outline: none;
      }

    }


    & #submit {
      border: none;
      margin-left: 1rem;
      color: $font-color;
      cursor: pointer;
      font-size: 1.6rem;
      border-radius: .5rem;
      background-color: #00800026;

    }


  }
}


.search {
  margin: 1rem auto;
  max-width: 40rem;
  background-color: #ffffffa6;
  padding: 1rem 1rem;
  border-radius: 20px;
  /* border: 1px solid #8d8df2; */

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      background-color: #fefeff;
      padding: .5rem 2rem;
      border: none;
      border-bottom: 1px solid $font-color;
      color: white;
      font-size: 1.6rem;

      &:focus {
        outline: none;
        border-bottom: 1px solid green;

        & + span {
          color: green;
        }
      }

    }

    span {
      font-size: 1.8rem;
      color: $font-color;
      margin-left: 2rem;
    }
  }
}

.complete {
  text-decoration: line-through;
  color: #1f7d1f;
}

.auto-fill {
  background-color: red;
}

.container {
  background-image: linear-gradient(to bottom right, #ffffff54, white), url("../../pictures/rawpixel-722816-unsplash.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: 0% 100%;
}
